.title {
  color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-1));
  font-size: rem(100px);
  font-weight: 900;
  letter-spacing: rem(-2px);

  @media (max-width: mantine-breakpoint-md) {
    font-size: rem(50px);
  }
}

.link {
  color: light-dark(var(--mantine-color-blue-9), var(--mantine-color-blue-6));
}

.link:hover {
  color: light-dark(var(--mantine-color-red-9), var(--mantine-color-red-6));
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
